<div class="container">
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <label for="name">Name</label>
          <input required ngModel name="name" #name="ngModel" minlength="2" maxlength="2" pattern="{{stateRegex}}"
            (change)="log(name)" type="text" id="name" class="form-control">
          <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
            <div *ngIf="name.errors.required">Name is required</div>
            <div *ngIf="name.errors.minlength">Minimum of 2 letters</div>
            <div *ngIf="name.errors.minlength">Max of 2 letters</div>
            <div *ngIf="name.errors.pattern">State must be 2 uppercase letters</div>
          </div>
          <p>{{ f.value.name | uppercase }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="state">State</label>
          <select ngModel name="state" id="contactMethod" class="form-control">
            <option *ngFor="let state of stateList" [value]="state.value">{{ state.label }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <p>{{ f.value | json }}</p>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
  </form>
</div>